HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/launch.json
.vscode/settings.json

### ENV File ###
secret.env

### Coverage
src/main/react/coverage/
src/main/react/coverage/clover.xml
src/main/react/coverage/coverage-final.json
src/main/react/coverage/lcov-report/base.css
src/main/react/coverage/lcov-report/block-navigation.js
src/main/react/coverage/lcov-report/index.html
src/main/react/coverage/lcov-report/prettify.css
src/main/react/coverage/lcov-report/prettify.js
src/main/react/coverage/lcov-report/sorter.js
